.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

table {
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-sm td, .table-sm th {
    padding: .3rem;
}

th {
    text-align: inherit;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

.btn-table {
    width: unset !important;
    padding: 0 !important;
    margin: 0 auto !important;
}

.btn-cell {
    text-align: center !important;
}

.btn-table-multi {
    width: 100% !important;
    margin: 2px !important;
}